/* Button styles */
.btn-red {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-blue {
  background-color: #218bee;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
main {
  flex: 1;
}

/* Form styles */
form {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
}

form p {
  font-size: 1.125rem;
}

/* Other styles */
html,body {
  font-family: Arial, sans-serif;
    display: flex;
  flex-direction: column;
}

nav {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  flex-shrink: 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
/* Form and selected files container styles */
.form-container {
  display: flex;
}

form {
  flex: 1; /* Take up all available space */
}

.selected-files {
  flex: 0 0 25%; /* Take up a fixed width */
  margin-left: 1rem; /* Add some space between the form and the selected files */
}
#file-list {
  margin: 20px 0;
}

#file-list .file-item {
  background-color: #eee;
  padding: 10px 20px;
  margin-bottom: 10px;
}

#file-list .file-name {
  font-weight: bold;
}

#file-list .btn-view,
#file-list .btn-remove {
  padding: 5px 10px;
  font-size: 0.8em;
}

#file-list .btn-view {
  margin-right: 10px;
}
