body {
    text-align: center;

  background-color: wheat;
}
h1{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: rgb(224, 92, 15);
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}
form {
    display: inline-block;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 20%;
  margin-bottom: 1rem;
}

.Example-btn6{ 
 font-family: Teko; 
 font-weight: 0; 
 font-size: 16px; 
 color: #ffffff; 
 background: linear-gradient(90deg, #0066CC 0%, #d62828 100%); 
 padding: 10px 47px; 
 border: none; 
 box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
 border-radius: 22px 50px;
 transition : 327ms;
 transform: translateY(0);
 }
 
 .Example-btn6:hover{ 
 transition : 327ms;
 padding: 10px 50px;
 transform : translateY(-0px);
 background: linear-gradient(90deg, #0066CC 0%, #d62828 100%);
 color: #ffffff;
 border: none;
 }

 .Example-btn5{
 font-family: Bebas Neue; 
 font-weight: 0; 
 font-size: 14px; 
 color: #fff; 
 background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%); 
 padding: 10px 50px; 
 border: none; 
 box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; 
 border-radius: 50px; 
 transition : 1000ms; 
 transform: translateY(0); 
 }
 
 .Example-btn5:hover{ 
 transition : 1000ms; 
 transform : translateY(-6px); 
 background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%); 
 color: #ffffff; 
 border: none; 
 }
 
.image{
  display: flex;
  align-items: center;
}s: center;
}